* {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #5f4c4c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar p {
  font-size: 22px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form input, button {
  font-size: 16px;
  padding: 4px;
  margin: auto 10px;
}